:root {
  --card-height: 12vh;
}

.card {
  display: flex;
  width: 90vw;
  max-width: 350px;
  height: var(--card-height); 
  margin: 8px;
}

.time {
  width: var(--card-height);
  line-height: var(--card-height)!important;
}

.arrow {
  width: calc(var(--card-height) / 2.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
